<div id="frontarticles">
	{% assign article = pages.frontpage %}

  {% if article.content != "" %}
	  <h2>{{ article.title }}</h2>
    <div class="article textile">
		  {{ article.content }}
		</div>
	{% else %}
    <div class="article textile">
	  In <em>Admin &gt; Blogs &amp; Pages</em>, create a page with the handle <strong><code>frontpage</code></strong> and it will show up here.<br />
	  {{ "Learn more about handles" | link_to "http://wiki.shopify.com/Handle" }}
    </div>
	{% endif %}

</div>

<div id="frontproducts">
	{% for product in collections.frontpage.products %}
	  <div class="productmain">
	   <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a>
	   <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
	   <div class="description">{{ product.description | truncatewords: 10 }}</div>
		<p class="money">{{ product.price_min | money }}</p>
	  </div>
	{% endfor %}
</div>

