<div id="frontarticles">
	<div>
	  {% for article in blogs.frontpage.articles  %}
			<h2>{{ article.title }}</h2>
			<div class="article textile">
			  {{ article.content }}
			</div>    
	  {% endfor %}
	</div>
</div>

<div id="frontproducts">
	{% for product in collections.frontpage.products %}
	  <div class="productmain">
	   <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a>
	   <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
	   <div class="description">{{ product.description | truncatewords: 10 }}</div>
		<p class="money">{{ product.price_min | money }}</p>
	  </div>
	{% endfor %}
</div>

