<h2 id="page-title">{{page.title}}</h2>

{% paginate blog.articles by 20 %}

  {% for article in blog.articles  %}

      <h3 class="article-title">{{ article.title }}</h3>
      <p>{{ article.created_at | date: "%Y %B %d" }}</p>
      <div class="article-body textile">
        {{ article.content }}
        <span class="author">{{ article.author }}</span>
      </div>    
  
  {% endfor %}

  <div id="pagination">
    {{ paginate | default_pagination }}
  </div>

{% endpaginate %}
