<!-- LIST 3 PER ROW -->
<table id="products" cellspacing="0" cellpadding="0">
{% tablerow product in collections.frontpage.products cols:4  %}
 
  <div class="product-body">

    <div class="product-img">
      <a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" /></a>
    </div>

    <div class="product-body-paragraph">       
  
    </div>
    
    <div class="product-information">
        <h3><a href="{{product.url}}">{{product.title}}</a></h3>
        {{product.price_min | money}} <a href="{{product.url}}"><img src="{{ 'arrow.gif' | asset_url }}" /></a>
    </div>
    
    <p class="product-link"><em>&nbsp;</em></p>
  </div>

{% endtablerow %}
</table>
<!-- /LIST 3 PER ROW  -->

  <div id="articles">
  	{% assign article = pages.frontpage %}

    <div class="article">
    {% if article.content != "" %}
		  <h3>{{ article.title }}</h3>
      <div class="article-body textile">
  		  {{ article.content }}
  		</div>
  	{% else %}
      <div class="article-body textile">
  	  In <em>Admin &gt; Blogs &amp; Pages</em>, create a page with the handle <strong><code>frontpage</code></strong> and it will show up here.<br />
  	  {{ "Learn more about handles" | link_to "http://wiki.shopify.com/Handle" }}
      </div>
  	{% endif %}
    </div>

  </div>

