{% paginate blog.articles by 20 %}
  {% for article in blog.articles  %}

  <div class="story">
		<h2>
		  <a href="{{article.url}}">{{ article.title }}</a>
		</h2>
		<div class="meta">
		  {{ article.created_at | date: "%b %d" }}
		  {% if blog.comments_enabled? %}
        &mdash; 
        <a href="{{article.url}}#comments">{{ article.comments_count }} comments</a>
      {% endif %}
		</div>
		<p class="textile">
      {{ article.content }}
		</p>
  </div>
  
  {% endfor %}

<div id="pagination">
  {{ paginate | default_pagination }}
</div>

{% endpaginate %}
