{% paginate collection.products by 20 %}

<ul class="featured-products products collection">
	{% for product in collection.products  %}
	<li class="{% cycle 'first', '', '' %}">
		<div class="image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}"/></a></div>
		<div class="info">
			<h4><a href="{{product.url}}">{{product.title}}</a></h4>
	    {% if product.compare_at_price %} 
			  {% if product.price_min != product.compare_at_price %}
			    <del class="original-price">{{product.compare_at_price | money}}</del>
			  {% endif %}
			{% endif %}
			<span class="price">{{product.price_min | money}}</span>
		</div>
	</li>
	{% endfor %}
</ul>

<div class="clear"></div>

<div id="pagination">
    {{ paginate | default_pagination }}
</div>

{% endpaginate %}

<p><strong>Tags:</strong>
  {% for tag in collection.tags %}  
    {{ tag | highlight_active_tag | link_to_tag: tag }}
		{% if forloop.last %}
		{% else %}
		,
		{% endif %}
  {% endfor %}
</p>