<div id="content">
	<div class="main">
		{% for article in blogs.frontpage.articles  %}
		<div class="story">
			<h2>{{ article.title }}</h2>
			 <p class="textile">{{ article.content }}</p>
			 <!-- superflous <p> for text filtration problems -->
		</div>
		{% endfor %}
	
	</div><!-- /.main -->
	
	<hr class="hide" />
	
	{% if linklists.sidebar.id != 0 %}
	<div class="sidebar">
		<ul class="section">
			{% for link in linklists.sidebar.links %}
				 <li>{{ link.title | link_to: link.url }}</li>
			{% endfor %}
		</ul>
	</div><!-- /.sidebar -->
	{% endif %}
	
	<div class="clear"></div>
	</div> <!-- /#content -->
		
<ul class="featured-products products">
	{% for product in collections.frontpage.products %}
	<li{% if forloop.first %} class="first"{% endif %}>
		<div class="image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}"/></a></div>
		<div class="info">
			<h4><a href="{{product.url}}">{{product.title}}</a></h4>
	    {% if product.compare_at_price %} 
			  {% if product.price_min != product.compare_at_price %}
			    <del class="original-price">{{product.compare_at_price | money}}</del>
			  {% endif %}
			{% endif %}
			<span class="price">{{product.price_min | money}}</span>
		</div>
	</li>
	{% endfor %}
</ul>