<div class="product">
	
	<div id="product-images">
  	{% case product.images.size %}
  	{% when 1 %}  
	
      <div class="pimage">
        <a href="{{ product.featured_image | product_img_url: 'large' }}" class="lbOn">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>
      </div>
    
    {% else %}

  	  {% for image in product.images %}
  	  <div id="pimage-{{forloop.index}}" class="pimage" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>
        <a href="{{ image | product_img_url: 'large' }}" class="lbOn">{{ image | product_img_url: 'medium' | img_tag }}</a>
  	  </div>
  	  {% endfor %}	 	  
  
      <div id="pimage-select">
        {% for image in product.images %}
          <a href="#" onmouseover="displayImage({{ forloop.index }}, 'product-images');">{{ forloop.index }}</a>
        {% endfor %}
      </div>
  
    {% endcase %}
  </div>
	
	
	<div class="details">
		<dl>
			<dt>Vendor:</dt>
			<dd>{{product.vendor | link_to_vendor }}</dd>
		</dl>
		<dl>
			<dt>Type:</dt>
			<dd>{{product.type | link_to_type }}</dd>
		</dl>
	</div>
	<div class="buy">
		<form action="/cart/add" method="post">
      
      <ul id="variants">
        {% for variant in product.variants %}
        <p>
				
          {% if variant.available == true %}
						<label for="radio_{{variant.id}}">
							<input class="radio" type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" {%if forloop.first%} checked="checked" {%endif%} />
							{{ variant.title }} for <span class="price">{{ variant.price | money_with_currency }}</span>
            </label>
          {% else %}
            <del>{{ variant.title }}</span>&nbsp;<span class="price">Sold Out!</del>
          {% endif %}
          
        </p>
        {% endfor %}
      </ul>
    	<input class="add-cart" type="image"  src="{{ 'btn_add_to_cart.gif' | asset_url }}" alt="Add to Cart" value="Add to Cart" />
    </form>
		
		
	</div>
</div>
<h2>{{ product.title }}</h2>
<p class="textile"> {{ product.description }}</p>