<div id="product">
  
  <div id="product-images">
    {% case product.images.size %}
  	{% when 1 %}  
	
      <div class="pimage">
        <a href="{{ product.featured_image | product_img_url: 'large' }}" rel="lightbox">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>          	    
      </div>
    
    {% else %}

  	  {% for image in product.images %}
  	  <div id="pimage-{{forloop.index}}" class="pimage" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>
        <a href="{{ image | product_img_url: 'large' }}" rel="lightbox">{{ image | product_img_url: 'medium' | img_tag }}</a>          	    
  	  </div>
  	  {% endfor %}	 	  
  
      <div id="pimage-select">
        {% for image in product.images %}
          <a href="#" onmouseover="displayImage({{ forloop.index }}, 'product-images');">{{ forloop.index }}</a>
        {% endfor %}
      </div>
  
    {% endcase %}
  </div>
  
  
  <h2>{{ product.title }}</h2>
  <ul id="details" class="hlist">
    <li>Vendor: {{product.vendor | link_to_vendor }}</li>
    <li>Type: {{product.type | link_to_type }}</li>
  </ul>
  
  
  <div class="money" id="price">{{ product.price_min | money }}{% if product.price_varies %} - {{ product.price_max | money }}{% endif %}</div>
  
  
  <div id="description" class="textile">
    {{ product.description }}
    
    <form action="/cart/add" method="post">
      <h3>Variations of this product</h3>

      <select id="variants" name='id'>
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
        {% endfor %}
      </select>

      <div id="price-field"></div>
    
      <input type="submit" name="add" value="Add to Cart" id="add" class="primary clearfix" />
      
    </form>
    
  </div>
</div>

<script type="text/javascript">
// <![CDATA[  
  // prototype callback for multi variants dropdown selector
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      // selected a valid variant
      $('add').disabled = false;           // reenable add-to-cart button
      $('price-field').innerHTML = Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}");  // update price field
    } else {
      // variant doesn't exist
      $('add').disabled = true;              // disable add-to-cart button      
      $('price-field').innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
    }
  };

  // initialize multi selector for product
  Event.observe(document, 'dom:loaded', function() {  
    new Shopify.OptionSelectors("variants", { product: {{ product | json }}, onVariantSelected: selectCallback }); 
  });
// ]]>
</script>
