<script type="text/javascript">
  function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cartform').submit();
  }
</script>

<div>

  {% if cart.item_count == 0 %} 
    <p>Your shopping cart is empty...</p>
  {% else %}
  <form action="/cart" method="post" id="cartform">
    <div class="info">

        <input type="submit" value="Continue to checkout &raquo;" name="checkout" class="primary" />

    </div>

  <div id="cart">
  
  <h3 class="small">You have selected the items below for purchase</h3>

    <ul id="line-items">
      {% for item in cart.items %}
      <li id="item-{{item.id}}" class="clearfix">

        <div class="item-image">
          <img src="{{item.product.featured_image | product_img_url: 'thumb' }}" alt="{{item.title | escape }}" title="{{item.title | escape }}" />
        </div>

		<div class="item-ko">
        <h3>{{ item.title }}</h3>
        <span class="money">{{ item.price | money}} each.</span>
		</div>
		
        <div class="item-right">
          <label for="updates">How many do you want? </label> 
          <input type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{item.quantity}}" onfocus="this.select();"/><br />
          <p class="right-me"><a class="rem-item" href="#" onclick="remove_item({{item.variant.id}}); return false;" class="remove">(remove this item)</a></p>
        </div>
		
      </li>

      {% endfor %}
      <li id="total">
        <input type="submit" class="secondary" id="update-cart" name="update" value="Update My Cart" />
        <span id="sub-total">&nbsp; Subtotal:&nbsp;&nbsp; <span class="money" id="moneyko">{{ cart.total_price | money_with_currency }}</span></span>
      </li>
    </ul>

<div class="clear"></div>
  </div>
  </form>

  {% endif %}

</div>
