<!-- LIST 3 PER ROW -->
<table id="products" cellspacing="0" cellpadding="0">
{% tablerow product in collections.frontpage.products cols:3  %}
   <h3 class="prod-title-head"><a href="{{product.url}}">{{product.title}}</a></h3>
   <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" /></a></div>
   <div class="product-curr"><span class="money">{{product.price_min | money}}</span></div>
{% endtablerow %}
</table>
<!-- /LIST 3 PER ROW  -->

<div id="articles">
{% for article in blogs.frontpage.articles  %}
<div class="article">
  <h3 class="article-head-title">{{ article.title }}</h3>
  <div class="meta-info">Posted by: <span class="post-author">{{ article.author }}</span> on <span class="post-date">{{ article.created_at | date: '%d.%m.%y' }}</span></div>
  <div class="article-body textile">
	{{ article.content }}
  </div>
</div>
{% endfor %}
</div>

