<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{shop.name}} - {{page_title}}</title>

	<!-- Meta Delights -->
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="MSSmartTagsPreventParsing" content="true">
	<meta name="author" content="{{shop.name}}">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Shop Assets -->
	{{ 'textile.css'  | global_asset_url | stylesheet_tag }}
  {{ 'lightbox.css' | global_asset_url | stylesheet_tag }}
	{{ 'prototype.js' | global_asset_url | script_tag }}	
	{{ 'lightbox.js'  | global_asset_url | script_tag }}	

	{{ 'shop.js'      | asset_url | script_tag }}
	{{ 'shop.css'     | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body id="page-{{template}}">

<div id="wrapper">

			<!-- Inject Shop Info -->
			<div class="accessibility">
			  <h1><a href="/">{{shop.name}}</a></h1>
			  <p id="subtitle">Your Style is the Message.</p>
			  <ul><li><a href="#nav">Skip to Navigation</a></li></ul>
			</div>
			<!-- end Inject Shop Info -->

<!-- begin #content -->
<div id="content">

	
		<!-- begin #header -->
		<div id="header-container"><a href="/" rel="home" title="{{shop.name | escape }}"><h1>{{shop.name}}</h1></a></div>
		<!-- end #header -->


		<!-- begin #shop-tab (Cart Info and Search) -->
			<div id="shop-tab">
			  
			  
			  {% if cart.item_count == 0 %}
          <div id="cart-count">Your shopping cart is empty!</div>
        {% else %}
				 <div id="cart-count">You have <a  href="/cart">{{ cart.item_count }} {{cart.item_count | pluralize: 'item', 'items'}}</a> in your shopping cart</div>
        {% endif %}
			 	 <div id="search">
				  <form action="/search" method="get">
					<label class="s-input" for="q">Search:</label>
					<input class="search-shop" type="text" onclick="this.select()" value="Search this shop..." name="q" />
				  </form>
				 </div>
				 <br class="clear" />
			 </div>
		<!-- end #shop-tab -->			

<!-- begin #main-content -->
<div id="main-content">

				<div id="nav">
				<h3 id="nav-menu-head">Main Menu</h3>
				<ul>
				  {% for link in linklists.main-menu.links %}
					 <li>{{ link.title | link_to: link.url }}</li>
				  {% endfor %}
				</ul>
				
        
				
				{% if tags %}
  				<h3 id="nav-menu-head">Tags</h3>
  				<ul>
  				  {% for tag in collection.tags %} 
  					 <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
  				  {% endfor %}
  				</ul>
				{% endif %}
				</div>

			  <!-- begin div.main -->
			  <div id="main">
				{{ content_for_layout }}
			  </div>
			  <!-- /end div.main -->      
	  
			
</div>
<!-- /end #main-content -->			

	<!-- begin .footer -->
	<div id="footer">
	<p>	{% for link in linklists.footer.links %}
		   {{ link.title | link_to: link.url }}
		{% endfor %} </p>
	</div>
	<!-- /end .footer -->

  <div id="shopify">
    <a href="http://shopify.com" title="powered by Shopify">powered by Shopify</a>
  </div>

	<!-- /end #content -->    
<!-- /end #wrapper -->  
</body>
</html>
