<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{shop.name}} - {{page_title}}</title>

	{{ 'textile.css'   | global_asset_url | stylesheet_tag }}	
	{{ 'lightbox.css'  | global_asset_url | stylesheet_tag }}
	{{ 'prototype.js'  | global_asset_url | script_tag }}	
	{{ 'lightbox.js'   | global_asset_url | script_tag }}	

	{{ 'shop.css'      | asset_url | stylesheet_tag }}	
	{{ 'colours.css'   | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body id="page-{{template}}">
  <div id="frame">
  	<div id="contentheader">
  	  <!-- begin div.header -->
      <div id="header">
        <h1><a href="/">{{shop.name}}</a></h1>
      </div>
      <div id="shopping-cart">
        {% if cart.item_count == 0 %}
          Your shopping cart is empty!
        {% else %}
          <a href="/cart">You have {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} in your shopping cart.</a>
        {% endif %}
      </div>
      <!-- /end div.header -->
  	  
  	</div>
  	<div id="contentleft">
  	  
  	  <ul class="side-links">
    	  <li>Search</li>
    	  <li id="search">
    			<form action="/search">
    				<input type="text" class="search" name="q" />
				    <button type="submit">Search</button>
    			</form>
    		</li>
    	</ul>
  	  
      <ul class="side-links">
        <li><em>{{ linklists.main-menu.title }}</em></li>
        {% for link in linklists.main-menu.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
      
  	</div>

  	<div id="contentcenter">
      {{ content_for_layout }}

      <ul id="footer">
        {% for link in linklists.footer.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
  	</div>
    
  	<br clear="all" /><!-- without this little <br /> NS6 and IE5PC do not stretch the frame div down to encopass the content DIVs -->

  </div>

  <div id="shopify">
    All prices are in {{ shop.currency }} &sim; <a href="http://shopify.com" title="powered by Shopify">powered by Shopify</a>
  </div>

</body>
</html>

