<div id="frontpage-articles">
	{% assign article = pages.frontpage %}

  <div class="article">
  {% if article.content != "" %}
	  <h3>{{ article.title }}</h3>
    <div class="article-body textile">
		  {{ article.content }}
		</div>
	{% else %}
    <div class="article-body textile">
	  In <em>Admin &gt; Blogs &amp; Pages</em>, create a page with the handle <strong><code>frontpage</code></strong> and it will show up here.<br />
	  {{ "Learn more about handles" | link_to "http://wiki.shopify.com/Handle" }}
    </div>
	{% endif %}
  </div>
</div>


<!-- LIST 1 PER ROW -->
<table id="products" cellspacing="0" cellpadding="0">
{% tablerow product in collections.frontpage.products cols:1  %}
    
  <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt=""/></a></div>

  <div class="attributes">
    <p id="price-field-{{product.id}}" class="money">{{product.variants.first.price | money}}</p>
    <input type="hidden" id="price-{{ product.id }}" />

    <h3><a href="{{product.url}}">{{product.title}}</a></h3>


    {% if product.available %}

    <form id="product-{{ product.id }}" action="/cart/add" method="post">
     <input type="hidden" name="return_to" value="back" />
    
      <select id="product-variants-{{product.id}}" name="id">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option value="{{variant.id}}" title="{{ variant.price | money }}">{{ variant.title | truncate: 14 }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <select id="product-quantity-{{product.id}}" name="quantity" onchange="Showroom.updatePrice({{product.id}})">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      
      <input type="submit" id="add-{{ product.id}}" name="add" value="Add to cart" onclick="Shopify.addItemFromForm('product-{{product.id}}');return false"/>

    </form>  
      
    {% else %}    
      <p class="sold-out">sold out!</p>    
    {% endif %}
      
  </div>
  {% endtablerow %}
</table>
<!-- /LIST 1 PER ROW  -->

<div class="cr"></div>

<script type="text/javascript">
<!--
  // prototype callback for multi variants dropdown selector
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      // selected a valid variant
      $('add-'+selector.product.id).removeClassName('disabled'); // remove unavailable class from add-to-cart button
      $('add-'+selector.product.id).disabled = false;           // reenable add-to-cart button
      $('product-quantity-'+selector.product.id).disabled = false; // reenable quantity dropdown

      var field = $('product-quantity-'+selector.product.id); // get qty field
      $('price-field-'+selector.product.id).innerHTML = Shopify.formatMoney((variant.price * field.options[field.selectedIndex].text), "{{shop.money_with_currency_format}}");  // update price field
      $('price-'+selector.product.id).value = variant.price; // save price in hidden input field so it can be accessed by qty dropdown
    } else {
      // variant doesn't exist
      $('add-'+selector.product.id).addClassName('disabled');     // set add-to-cart button to unavailable class
      $('add-'+selector.product.id).disabled = true;              // disable add-to-cart button
      $('product-quantity-'+selector.product.id).disabled = true; // disable quantity dropdown
      $('price-field-'+selector.product.id).innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
    }
  };


  // initialize multi selector for product
  Event.observe(document, 'dom:loaded', function() {
    {% for product in collections.frontpage.products %}
      new Shopify.OptionSelectors("product-variants-{{product.id}}", { product: {{ product | json }}, onVariantSelected: selectCallback }); 
    {% endfor %}
  });
-->
</script>
