<div class="article">
  <h3 class="article-head-title">{{ article.title }}</h3>
  <p> posted {{ article.created_at | date: "%Y %h" }} by {{ article.author }}</p>
  <div class="article-body textile">
    {{ article.content }}
  </div>    
</div>

{% if blog.comments_enabled? %}
<div id="comments">
  <h3>Comments</h3>
  <!-- List all comments -->
  {% paginate article.comments by 20 %}
  
    {% for comment in article.comments %}
      <div class="comment">
        {{ comment.content }}
    	  <div class="comment-details">
    		  Posted by {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}.
        </div>
    	</div>
    {% endfor %}
    
  {% endpaginate %}
  
  <!-- Comment Form -->
  {% form article %}
    <h3>Write a comment</h3>
    
    <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
    {% if form.posted_successfully? %}
      {% if blog.moderated? %}
        <div class="notice">
          Successfully posted your comment.
          It will have to be approved by the blog owner before it's published.
        </div>
      {% else %}
        <div class="notice">Successfully posted your comment.</div>
      {% endif %}
    {% endif %}
    
    {% if form.errors %}
      <div class="error">Some fields have not been filled correctly!</div>
    {% endif %}
    
    <dl>
      <dt><label for="comment[author]">Your name:</label></dt>
      <dd class="{% if form.errors contains 'author' %}error{% endif %}"><input type="text" name="comment[author]" size="40" value="{{form.author}}"/></dd>

      <dt><label for="comment[email]">Your email:</label></dt>
      <dd class="{% if form.errors contains 'email' %}error{% endif %}"><input type="text" name="comment[email]" size="40" value="{{form.email}}"/></dd>

      <dt><label for="comment[body]">Text:</label></dt>
      <dd class="{% if form.errors contains 'body' %}error{% endif %}"><textarea name="comment[body]" value="" cols="40" rows="5">{{form.body}}</textarea></dd>
    </dl>
    
    {% if blog.moderated? %}
      <p class="hint">(comments will be approved by an admin first)</p>
    {% endif %}    

    <input type="submit" value="Post comment" />
  {% endform %}
</div>
{% endif %}