<script type="text/javascript">
  function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cart').submit();
  }
</script>

<div id="shoppingcart">
  <h2>Shopping Cart</h2>

  {% if cart.item_count == 0 %} 
    <p>Your shopping cart is empty...</p>
  {% else %}

  <form action="/cart" method="post" id="cart">

  <table id="shoppingcart-table" cellspacing="0" cellpadding="4">
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>

        <th align="right">Total</th>
        <th>&nbsp;</th>
      </tr>

      {% for item in cart.items %}
      <tr class="itemrow">
        <td>
          <div class="checkout-product-image" style="text-align:center;margin-top: 12px">
            {{ item.product.featured_image |  product_img_url: 'thumb' | img_tag }}
          </div>
        </td>
        <td align="right"> <input type="text" style="text-align:right" size="4" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{item.quantity}}" onfocus="this.select();"/>x</td>
        <td align="left">
          <h2><a href="{{item.product.url}}">{{ item.title }}</a></h2>
          <div class="price"><small>{{ item.price | money }} each</small></div>
        </td>
       

        <td align="right" class="price">{{item.line_price | money }}</td>
        <td align="right" class="small"><a href="#" onclick="remove_item({{item.variant.id}}); return false;" class="remove">remove</a></td>
      </tr>
      {% endfor %}

      <tr id="subtotal">
          <td class="sum-line">&nbsp;</td>
          <td class="sum-line">&nbsp;</td>
          <td align="right" class="sum-line">Subtotal:</td>
          <td align="right" class="price sum-line">{{cart.total_price | money_with_currency }}</td>
          <td align="right"><input type="image" value="Update Cart" name="update" src="{{ 'update.gif' | asset_url }}" /></td>
      </tr>
  </table>  


  <div id="checkout">
    <div style="float:right;margin: 1px 4px 0 0">
        <input type="image" value="Proceed to Checkout" name="checkout" src="{{ 'checkout.gif' | asset_url }}" />
    </div>
  </div>
  </form>

  <div id="disclaimer" style="clear:both" class="small textile">
    {{ pages.shopping-cart.content }}
  </div>

  {% endif %}

</div>