        {% if tags %}
        <ul class="tags">
          {% for tag in collection.tags %}  
            <li><span class="atags">{{ '+' | link_to_add_tag: tag }}</span>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
          {% endfor %}
        </ul>
        {% endif %}
<br clear="all" />

{% paginate collection.products by 20 %}

<table id="products" cellspacing="0" cellpadding="0">
{% tablerow product in collection.products cols:3  %}
  <div class="product">
     <h3><a href="{{product.url}}">{{product.title}}</a></h3>
     <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a></div>
     <div class="money">{{product.price_min | money}}
     {% if product.compare_at_price %} 
       {% if product.price_min != product.compare_at_price %}
        <div class="original-price">{{product.compare_at_price | money}}</div>
       {% endif %}
     {% endif %}
     </div>
  </div>
{% endtablerow %}
</table>


<div id="pagination">
    {{ paginate | default_pagination }}
</div>

{% endpaginate %}
