<div id="product">
  <h2>{{ product.title }}</h2>
  
  <p class="price big" style="margin:5px 0 15px 0">{% if product.price_min != product.price_max %} starting at {{ product.price_min | money_with_currency }} {% else %} {{ product.price | money_with_currency }} {% endif %}</p>
  
  <ul id="details" class="small">
    <li>Vendor: {{product.vendor | link_to_vendor }}</li>
    <li>Type: {{product.type | link_to_type }}</li>
  </ul>
  
  <div id="image-tab">

    {% for image in product.images %}

    {% if forloop.first %}
    <div class="pimage fl">
      <a href="{{ image | product_img_url: 'large' }}" class="lbOn">
        <img src="{{ image | product_img_url: 'medium'}}" alt="{{product.title | escape }}" />
      </a>
    </div>
    {% else %}
    <div class="pimage-small fl">
      <a href="{{ image | product_img_url: 'large' }}" class="lbOn">
        <img src="{{ image | product_img_url: 'small'}}" alt="{{product.title | escape }}" />
      </a>
    </div>
    {% endif %}

    {% endfor %}
  </div>
  
  <div id="variant-add">
    <form action="/cart/add" method="post">
      
      <ul id="variants">
        {% for variant in product.variants %}
        <li>
          {% if variant.available == true %}
            <input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" style="vertical-align: middle;" {%if forloop.first%} checked="checked" {%endif%} />
            <label for="radio_{{variant.id}}">{{ variant.title }} for <span class="price">{{ variant.price | money_with_currency }}</span></label>
          {% else %}
            <span style="text-decoration: line-through;margin-left: 28px">{{ variant.title }}</span>&nbsp;<span class="price">Sold Out!</span>
          {% endif %}
          
        </li>
        {% endfor %}
      </ul>
    
    <input type="image" name="add" value="Add to Cart" id="add" class="button" src="{{ 'add.gif' | asset_url }}" />
    </form>
    
    {% unless product.available %} 
      Sold out!
    {% endunless %}
    
  </div>
  
  
  <div id="description" class="textile" style="clear:left">
    {{ product.description }}
  </div>
</div>