<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{shop.name}} - {{page_title}}</title>


	{{ 'lightbox.css' | global_asset_url | stylesheet_tag }}
	{{ 'prototype.js' | global_asset_url | script_tag }}
	{{ 'lightbox.js'  | global_asset_url | script_tag }}

	{{ 'shop.js'      | asset_url | script_tag }}
	{{ 'shop.css'     | asset_url | stylesheet_tag }}

	{{ 'textile.css'  | global_asset_url | stylesheet_tag }}	
	
	{{ content_for_header }}
</head>

<body id="page-{{template}}">
  <!-- begin div.container -->
  <div id="container">
    
    <!-- begin div.header -->
    <div id="header">
      <h1><a href="/">{{shop.name}}</a></h1>
      <!-- could have a tagline: 
  		<p id="subtitle">We sell cool crazy stuff&hellip;</p>
  		-->
    </div>
    <!-- /end div.header -->
    
    <!-- begin div.search -->
    <div id="search">
      <span id="cart-count">
      {% if cart.item_count == 0 %}
        Your shopping cart is empty!
      {% else %}
       <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}</a> in your cart.
      {% endif %}
      </span>
      <form action="/search" method="get">
        <label for="q">Search:</label>
        <input type="text" name="q" />
        <input type="submit" value="Search" />
      </form>
    </div>
    <!-- /end div.search -->
    
    
    <!-- begin div.content -->
    <div id="content">
      
      <!-- begin div.main -->
      <div id="main">
        {{ content_for_layout }}
      </div>
      <!-- /end div.main -->      
      
      <!-- begin div.sbar -->
      <div id="sbar" class="clearfix">
        <h3>Navigation</h3>
        <ul id="side-links" class="vlink-list">
          {% for link in linklists.main-menu.links %}
             <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
        
        {% if tags %}
        <h3>Tags</h3>
        <ul id="tag-links">
          {% for tag in collection.tags %}  
            <li><span class="add-link">{{ '+' | link_to_add_tag: tag }}</span>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
          {% endfor %}
        </ul>
        
        {% endif %}
      </div>
      <!-- /end div.sbar -->
      
      
    </div>
    <!-- /end div.content -->
    
    
    <!-- begin div.footer -->
    <div id="footer">
      <ul>
        {% for link in linklists.footer.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- /end div.footer -->
    
  </div>
  <!-- /end div.container -->
  
  <div id="shopify">
    <a href="http://shopify.com" title="powered by Shopify">powered by Shopify</a>
  </div>
  
</body>
</html>
