<!-- LIST 3 PER ROW -->
<table id="products" cellspacing="0" cellpadding="0">
{% tablerow product in collections.frontpage.products cols:3  %}
   <a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" /></a>
   <h3><a href="{{product.url}}">{{product.title}}</a></h3>
   <ul class="attributes">
     <li><span class="money">{{product.price_min | money}}</span></li>
   </ul>
{% endtablerow %}
</table>
<!-- /LIST 3 PER ROW  -->

  <div id="articles">
    {% for article in blogs.frontpage.articles  %}
    <div class="article">
      <h3>{{ article.title }}</h3>
      <div class="article-body textile">
        {{ article.content }}
      </div>
    </div>
    {% endfor %}

  </div>

