<div id="product">
  <div id="product-images">
    {% case product.images.size %}
  	{% when 1 %}  
	
      <div class="pimage">
        <a href="{{ product.featured_image | product_img_url: 'large' }}" class="lbOn">{{ product.featured_image | product_img_url: 'medium' | img_tag }}</a>        
      </div>
    
    {% else %}

  	  {% for image in product.images %}
  	  <div id="pimage-{{forloop.index}}" class="pimage" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>        
        <a href="{{ image | product_img_url: 'large' }}" class="lbOn">{{ image | product_img_url: 'medium' | img_tag }}</a>        
  	  </div>
  	  {% endfor %}	 	  
  
      <div id="pimage-select">
        {% for image in product.images %}
          <a href="#" onmouseover="displayImage({{ forloop.index }}, 'product-images');">{{ forloop.index }}</a>
        {% endfor %}
      </div>
  
    {% endcase %}
  </div>
  
  <h2>{{ product.title }}</h2>
  <ul id="details" class="hlist">
    <li>Vendor: {{product.vendor | link_to_vendor }}</li>
    <li>Type: {{product.type | link_to_type }}</li>
  </ul>
  
  
  <div class="money" id="price">{{ product.price_min | money }}{% if product.price_varies %} - {{ product.price_max | money }}{% endif %}</div>
  
  
  <div id="description" class="textile">
    {{ product.description }}
    
    <form action="/cart/add" method="post">
      <h3 style="clear:left">Variations of this product</h3>
      <ul id="variants">
        {% for variant in product.variants %}
        <li>
          {% if variant.available == true %}
            <input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" style="vertical-align: middle;" {%if forloop.first%} checked="checked" {%endif%} />
            <label for="radio_{{variant.id}}">{{ variant.price | money_with_currency }} - {{ variant.title }}</label>
          {% else %}
            <span>Sold Out! - {{ variant.title }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      
      <ul class="buttons clearfix">
        <input type="submit" name="add" value="Add to Cart" id="add" class="primary" />
      </ul>    
      
    </form>
    
  </div>
</div>