
{% for product in products %}
  <div class="product">
	<h3><a href="{{product.url}}" title="{{product.title}}">{{product.title}}</a></h3>
    <div class="product-image">
      <a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="Product image" /></a>
    </div>

     
<form name="cart_form{{product.id}}"  action="/cart/add" method="post">
	  <input type="hidden" id="to_add{{product.id}}" name="id" value="" />
	  <table>
		{% for variant in product.variants limit: 3 %}

		{% if variant.available == true %} 
		 <tr id="add_cart_tr{{variant.id}}" onmouseover="hover_color('add_cart_tr{{variant.id}}', '#E7EAEA', '');" onmouseout="hover_color('add_cart_tr{{variant.id}}', '#fff', '');">
		{% else %}
		 <tr>
		{% endif %}	
		
			<td>
				{{ variant.title }}
			</td>
          {% if variant.available == true %}
            <td width="90px">
	          {{ variant.price | money }}
			</td>
			<td width="90px">
			 <a id="add_cart{{variant.id}}" href="#" onclick="add_to_cart({{variant.id}}, '{{product.id}}');" title="Add to Cart">Add to Cart</a>
			</td>
          {% else %}
            <td class="sold_out" colspan="2">Sold Out!</td>
          {% endif %}
        </tr>
        {% endfor %}
	   </table>
</form>
      	<div class="more">
		<a href="{{ product.url }}" title="More Info {% if product.variants.size > 3 %} &amp; Variants {% endif %} >> ">More Info {% if product.variants.size > 3 %} &amp; Variants {% endif %} >></a>
   		</div>

</div>

{% endfor %}
<div class="clear"> </div>