<div id="product-images">
	{% case product.images.size %}
	
	{% when 0 %}
	
		<span class="no">No Pictures</span>
	
	{% when 1 %}
		
		{% for image in product.images %}
		<div id="pimage-{{forloop.index}}" class="pimages" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>
			<a href="{{ image | product_img_url: 'large' }}" class="lbOn">{{ image | product_img_url: 'medium' | img_tag }}</a>
		</div>
		{% endfor %}
		
	{% else %}
	   
	 	{% for image in product.images %}
	   <a href="#" onmouseover="displayimage('pimage-{{ forloop.index }}', 'pimages');">{{ forloop.index }}</a>
	   {% endfor %}
	   <hr />
	   {% for image in product.images %}
	   <div id="pimage-{{forloop.index}}" class="pimages" {% if forloop.first %} style="display: block;" {% else %} style="display: none;" {% endif %}>
	   	<a href="{{ image | product_img_url: 'large' }}" class="lbOn">{{ image | product_img_url: 'medium' | img_tag }}</a>
	   </div>
	   {% endfor %}
	   
	{% endcase %}
</div> 
<div id="product-description" class="textile">
    {{ product.description }}

<div id="product-variations">
    <h2>Variations</h2>
	 <form name="cart_form{{product.id}}"  action="/cart/add" method="post">
	  <input type="hidden" id="to_add{{product.id}}" name="id" value="" />
	  <input type="hidden" name="add" value="Add to Cart" id="add" class="primary" />
	  <table>
		{% for variant in product.variants %}

		{% if variant.available == true %} 
		 <tr id="add_cart_tr{{variant.id}}"  onmouseover="hover_color('add_cart_tr{{variant.id}}', '#E7EAEA', '');" onmouseout="hover_color('add_cart_tr{{variant.id}}', '#fff', '');">
		{% else %}
		 <tr>
		{% endif %}		
			<td>
			{{ variant.title }}
			</td>
			
          {% if variant.available == true %}
            <td>
	          {{ variant.price | money_with_currency }}
			</td>
			<td align="right">
			 <a id="add_cart{{variant.id}}" href="#" onclick="add_to_cart({{variant.id}}, '{{product.id}}');" title="Add to Cart">Add to Cart</a>
			</td>
          {% else %}
            <td colspan="2" class="sold_out">Sold Out!</td>
          {% endif %}
        </tr>
        {% endfor %}
	   </table>
		</form>
  </div>
</div>